p {
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  webkit-box-sizing: border-box;
  width: 100%;
}
.header {
  background-color: rgba(234, 240, 248, 0.5);
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
  ms-flex-pack: center;
  position: fixed;
  webkit-box-pack: center;
  width: 100%;
  z-index: 10;
}
.section_menu_header {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 90px;
  ms-flex-pack: justify;
  ms-flex-wrap: wrap;
  webkit-box-pack: justify;
}
.header_top_box {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  ms-flex-align: center;
  ms-flex-wrap: wrap;
  padding-right: 60px;
  webkit-box-align: center;
}
.top_logo_side {
  display: flex;
  display: -ms-flexbox;
}
.top_logo {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  ms-flex-align: center;
  ms-flex-wrap: wrap;
  padding-left: 60px;
  webkit-box-align: center;
}
.top_menu_logo {
  display: flex;
  display: -ms-flexbox;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  list-style-type: none;
  ms-flex-pack: center;
  o-transition-delay: 0.2s;
  text-decoration: none;
  transition-delay: 0.2s;
  webkit-box-pack: center;
  webkit-transition-delay: 0.2s;
}
.top_menu_logo li {
  padding-right: 30px;
}
.top_menu_logo a {
  color: #aab9e2;
  text-decoration: none;
}
.top_menu_logo a:hover {
  color: #3d59ad;
  text-decoration: none;
}
.top_menu_logo a:active {
  color: #090e1a;
  text-decoration: none;
}
.top_menu {
  display: flex;
  display: -ms-flexbox;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  list-style-type: none;
  ms-flex-pack: center;
  o-transition-delay: 0.2s;
  text-decoration: none;
  transition-delay: 0.2s;
  webkit-box-pack: center;
  webkit-transition-delay: 0.2s;
}
.mobile_toggle {
  display: none;
}
#chet_one {
  display: none;
}
.top_menu li {
  padding-right: 30px;
}
.top_menu a {
  color: #aab9e2;
  text-decoration: none;
}
.top_menu a:hover {
  color: #3d59ad;
  text-decoration: none;
}
.top_menu_btn {
  background: linear-gradient(to right, #7492ec, #a77bff);
  background: -o-linear-gradient(left, #7492ec, #a77bff);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7492ec),
    to(#a77bff)
  );
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  max-height: 40px;
  o-transition: 0.2s linear;
  o-transition: 0.2s;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s linear;
  transition: 0.2s;
  webkit-transition: 0.2s linear;
  webkit-transition: 0.2s;
}
.top_menu_btn:hover {
  background: linear-gradient(to right, #606d9e, #836dad);
  background: -o-linear-gradient(left, #606d9e, #836dad);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#606d9e),
    to(#836dad)
  );
  border-color: transparent;
  color: #000;
}
.top_menu_btn:active {
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
}
.nav_menu {
  overflow: auto;
  align-items: center;
  display: flex;
}
.nav_menu_logo {
  display: none;
  overflow: auto;
}
.section {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px 0 15px;
}
.section_menu_header {
  margin: 0 auto;
  max-width: 1920px;
  overflow: auto;
  width: 100%;
}
.section_header {
  background-image: url(../images/Im_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 260px;
}
.section_info_header {
  margin-right: 40px;
  overflow: auto;
  padding-bottom: 200px;
}
.section_header_text {
  color: #7492ec;
  font-size: 72px;
  font-weight: 300;
  text-align: right;
}
.section_header_text:first-child {
  padding-right: 65px;
}
.section_about {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin-top: -55px;
  ms-flex-wrap: wrap;
  padding-bottom: 115px;
  width: 100%;
}
.section_about_content {
  display: flex;
  display: -ms-flexbox;
}
.section_about_bg {
  margin-top: -75px;
  position: absolute;
  right: 0;
}
.about_item {
  min-width: 570px;
  overflow: auto;
  padding-top: 160px;
  width: calc(50% - 15px);
}
.about_title {
  color: #7492ec;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 10px;
}
.abaut_text {
  color: #666;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 45px;
  padding-right: 20px;
}
.about_item_list {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  ms-flex-wrap: wrap;
  padding-left: 115px;
  width: 50%;
}
.list_icon {
  padding-bottom: 60px;
  padding-right: 20px;
  padding-top: 15px;
}
.list_content {
  display: flex;
  display: -ms-flexbox;
}
.list_content:last-child {
  margin-bottom: 0;
}
.list_title {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0 15px;
}
.list_text {
  color: #666;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.section_classes {
  background: url(../images/classesbg1.png) no-repeat;
  background-color: #f1f3f8;
  display: block;
  overflow: auto;
  width: 100%;
}
.about_classes {
  position: relative;
}
.about_classes_img {
  text-align: center;
  width: 100%;
}
.about_classes_title {
  color: #7492ec;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 45px;
  text-align: center;
}
.about_classes_info_all {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  ms-flex-wrap: wrap;
  padding-bottom: 60px;
}
button.slick-prev {
  border-right: 2px solid #4d5577;
  border-top: 2px solid #4d5577;
  color: transparent;
  content: "";
  display: block;
  font-size: 30px;
  left: 45%;
  ms-transform: translateY(-50%) rotate(-135deg);
  position: absolute;
  top: 20%;
  transform: translateY(-50%) rotate(-135deg);
  webkit-transform: translateY(-50%) rotate(-135deg);
  z-index: 10;
}
button.slick-next {
  border-right: 2px solid #4d5577;
  border-top: 2px solid #4d5577;
  color: transparent;
  content: "";
  display: block;
  font-size: 30px;
  ms-transform: translateY(-50%) rotate(45deg);
  position: absolute;
  right: 45%;
  top: 20%;
  transform: translateY(-50%) rotate(45deg);
  webkit-transform: translateY(-50%) rotate(45deg);
  z-index: 10;
}
button.slick-next:before,
button.slick-prev:before {
  color: transparent;
}
.about_classes_info {
  margin: 0 auto;
  width: 50%;
}
.classes_info_title {
  color: #7492ec;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.classes_info {
  padding-left: 15px;
}
.about_classes_icon img {
  max-height: 12px;
  max-width: 12px;
}
.about_classes_icon_time {
  display: flex;
  display: -ms-flexbox;
}
.classes_info_title_four,
.classes_info_title_second {
  margin-bottom: 10px;
  padding-bottom: 30px;
}
.about_classes_icon_person {
  display: flex;
  display: -ms-flexbox;
}
.about_classes_icon_advanced {
  display: flex;
  display: -ms-flexbox;
}
.about_classes_icon_text {
  color: #666;
  font-family: Lato, sans-serif;
  font-size: 13px;
  margin-bottom: 15px;
  padding-left: 20px;
}
.about_classes_icon {
  margin-bottom: 25px;
}
.about_classes_text {
  color: #666;
  font-family: Lato, sans-serif;
  font-size: 14px;
}
.section_trial {
  display: block;
  padding-top: 120px;
}
.section_trial_up {
  overflow: auto;
  text-align: center;
}
.section_trial_title {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 30px;
}
.section_trial_text {
  font-family: Lato, sans-serif;
  font-size: 14px;
  margin-bottom: 50px;
}
.section_trial_btn {
  background: linear-gradient(to right, #7492ec, #a77bff);
  background: -o-linear-gradient(left, #7492ec, #a77bff);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7492ec),
    to(#a77bff)
  );
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 80px;
  o-transition: 0.2s linear;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s linear;
  webkit-transition: 0.2s linear;
}
.section_trial_btn:hover {
  background: #dde1ec;
  border-color: #7492ec;
  color: #7492ec;
}
.section_trial_btn:active {
  border: 1px solid #7492ec;
  border-radius: 0;
  color: #fff;
}
.section_trial_down {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin-bottom: 30px;
  ms-flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}
.trial_img {
  padding-bottom: 30px;
  padding-right: 30px;
  width: calc(33.33333% - 20px);
}
.third_trial {
  padding-right: 0;
}
.five_trial {
  padding-right: 0;
  width: calc(33.33333% - 20px);
}
.four_trial {
  width: calc(66.66666% - 10px);
}
.section_special_exp {
  margin-bottom: 0;
}
.section_exp {
  background: url(../images/bgexp.png) no-repeat;
  background-color: #768be0;
  margin-top: 120px;
  overflow: auto;
}
.section_exp_content {
  padding-bottom: 90px;
  padding-top: 140px;
  text-align: center;
}
.section_exp_title {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 25px;
}
.section_exp_text {
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 300px 55px 300px;
}
.section_exp_subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}
.section_exp_subtitle p {
  padding-bottom: 25px;
}
.section_teacher_img {
  padding-top: 10px;
}
.section_special_teacher {
  margin-bottom: 60px;
}
.section_special_teacher_all {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  ms-flex-wrap: wrap;
}
.section_teacher {
  padding-top: 120px;
}
.section_teacher_content {
  padding-left: 20px;
}
.section_special_teacher_all button.slick-next,
.section_special_teacher_all button.slick-prev {
  border-color: transparent;
}
.section_teacher_name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding-top: 15px;
}
.section_teacher_prof {
  color: #c6c6c6;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.section_teacher_element {
  display: flex;
  display: -ms-flexbox;
  padding-bottom: 60px;
  width: 25%;
}
.section_special_renewal {
  margin-bottom: 0;
  overflow: inherit;
}
.section_renewal {
  background-color: #f8f7fc;
}
.section_renewal_content {
  display: flex;
  display: -ms-flexbox;
}
.section_renewal_content_left_title {
  color: #7492ec;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
.section_renewal_content_left_text {
  color: #8ea2dc;
  font-family: Lato, sans-serif;
  font-size: 21px;
  font-weight: 400;
  padding-bottom: 45px;
  padding-right: 125px;
}
.section_renewal_content_left_btn {
  background: linear-gradient(to right, #7492ec, #a77bff);
  background: -o-linear-gradient(left, #7492ec, #a77bff);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7492ec),
    to(#a77bff)
  );
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  o-transition: 0.2s linear;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s linear;
  webkit-transition: 0.2s linear;
}
.section_renewal_content_left_btn:hover {
  background: #dde1ec;
  border-color: #7492ec;
  color: #7492ec;
}
.section_renewal_content_left_btn:active {
  border: 1px solid #7492ec;
  border-radius: 0;
  color: #fff;
}
.section_renewal_content_left {
  padding: 245px 0 190px 185px;
  width: 50%;
}
.section_renewal_content_right {
  position: relative;
  text-align: center;
}
.section_renewal_content_right_img {
  left: 0;
  min-height: 746px;
  position: absolute;
  top: -72px;
}
.section_special_logo {
  margin-bottom: 0;
}
.section_logo {
  margin: 80px 0 80px 0;
}
.section_logo_items a {
  padding-right: 184px;
}
.section_logo_items a:last-child {
  padding-right: 0;
}
.footer {
  overflow: auto;
}
.section_footer_up {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  margin-bottom: 0;
  ms-flex-pack: justify;
  webkit-box-pack: justify;
}
.footer_up {
  background: #181818;
  border-bottom: 1px solid #333;
  overflow: auto;
}
.footer_up_img {
  border-right: 1px solid #333;
  padding: 22px 205px 27px 0;
}
.footer_up_text {
  padding-right: 150px;
}
.footer_up_text_title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-top: 30px;
  text-transform: uppercase;
}
.footer_up_text_subtitle {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.4px;
  padding: 10px 0 33px;
  padding-bottom: 30px;
  padding-top: 15px;
}
.footer_up_btn {
  color: #fff;
  o-transition: 0.2s linear;
  padding-bottom: 28px;
  padding-top: 32px;
  transition: 0.2s linear;
  webkit-transition: 0.2s linear;
}
.footer_up_btn a {
  background: linear-gradient(to right, #7492ec, #a77bff);
  background: -o-linear-gradient(left, #7492ec, #a77bff);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7492ec),
    to(#a77bff)
  );
  border: 1px solid transparent;
  border-radius: 35px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.footer_up_btn a:hover {
  background: #dde1ec;
  border-color: transparent;
  color: #7492ec;
}
.footer_up_btn a:active {
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
}
.footer_up_btn_input {
  background: #333;
  border: 1px solid #333;
  border-radius: 50px 0 0 50px;
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: -30px;
  padding: 20px 140px 20px 20px;
}
.footer_center {
  background: #222;
  overflow: auto;
}
.section_footer_center {
  display: flex;
  display: -ms-flexbox;
}
.footer_center_contact {
  width: 25%;
}
.footer_center_contact_title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-top: 60px;
}
.footer_center_contact_address {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  padding-right: 50px;
  padding-top: 25px;
}
.footer_center_contact_email {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 20px;
}
.footer_center_contact_email a {
  color: #bbb;
  text-decoration: none;
}
.footer_center_contact_tel,
.footer_center_contact_tel a {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 25px;
  text-decoration: none;
}
.footer_center_contact_icon_facebook {
  background-color: #365493;
  border: 1px solid #365493;
  border-radius: 50%;
  max-height: 40px;
  min-width: 40px;
}
.footer_center_contact_icon_facebook i {
  color: #fff;
  font-size: 12px;
}
.footer_center_contact_icon a {
  color: #222;
}
.footer_center_contact_icon {
  padding-bottom: 60px;
  padding-top: 28px;
}
.footer_center_contact_icon img {
  padding-right: 5px;
}
.footer_center_links {
  padding-left: 38px;
  width: calc(20% - 38px);
}
.footer_center_links_title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-top: 60px;
}
.footer_center_links_alltext {
  padding-top: 25px;
}
.footer_center_links_text {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
}
.footer_center_links_text a {
  color: #bbb;
  text-decoration: none;
}
.footer_center_links_text a:hover {
  color: #7890b1;
}
.footer_center_links_text a:active {
  color: #ececec;
}
.footer_center_hours {
  overflow: auto;
  padding-left: 46px;
  width: calc(30% - 46px);
}
.footer_center_hours_title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-top: 60px;
}
.footer_center_hours_day {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-right: 55px;
}
.footer_center_hours_symbol {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-right: 35px;
}
.footer_center_hours_time {
  color: #bbb;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.footer_center_hours_calendar {
  display: flex;
  display: -ms-flexbox;
  padding-top: 25px;
}
.footer_day,
.footer_symbol,
.footer_time {
  padding-bottom: 20px;
}
.footer_time:last-child {
  padding-bottom: 45px;
}
.footer_center_location {
  padding-left: 23px;
  width: calc(25% - 23px);
}
.footer_center_location_title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 25px;
  padding-top: 60px;
}
.footer_center_location_maps {
  width: calc(100% - 4px);
}
.footer_down {
  background: #181818;
  overflow: auto;
}
.section_footer_down {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  ms-flex-pack: justify;
  webkit-box-pack: justify;
}
.footer_down_title {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 38px 0 38px;
  text-transform: uppercase;
}
.heart {
  color: #85af4b;
}
.footer_down_nav_menu li {
  list-style-type: none;
  padding-right: 20px;
}
.footer_down_nav_menu {
  display: flex;
  display: -ms-flexbox;
  margin: 0;
  overflow: auto;
  padding: 38px 0 38px;
}
.footer_down_nav_menu li:last-child {
  padding-right: 0;
}
.footer_down_nav_menu a {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.footer_down_nav_menu a:hover {
  color: #fff;
}
@media (max-width: 1590px) {
  .top_menu li:nth-child(1),
  .top_menu li:nth-child(2),
  .top_menu li:nth-child(3) {
    display: none;
  }
  .nav_menu_logo {
    display: block;
  }
  .top_logo_side {
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    ms-flex-align: center;
    webkit-box-align: center;
  }
  .section_header_text {
    font-size: 60px;
  }
}
@media (max-width: 1300px) {
  .nav_menu_logo {
    display: none;
  }
  .top_menu li:nth-child(1),
  .top_menu li:nth-child(2),
  .top_menu li:nth-child(3) {
    display: block;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .section_header_text {
    font-size: 55px;
  }
  .about_item_list {
    padding-top: 50px;
  }
  .section_header_text:first-child {
    padding-right: 50px;
  }
}
@media (max-width: 1200px) {
  .about_classes_info_all button.slick-next,
  .about_classes_info_all button.slick-prev {
    border-color: transparent;
  }
  .section_header_text {
    font-size: 50px;
  }
  .section_info_header {
    padding-bottom: 0;
  }
  .section_classes {
    background: 0 0;
    background-color: #f1f3f8;
    overflow-x: hidden;
  }
  .section_about {
    padding-bottom: 0;
  }
  .about_classes_info_all {
    padding-right: 0;
    text-align: center;
  }
  .list_icon {
    padding-bottom: 80px;
  }
  .about_classes_info {
    padding-right: 0;
    width: 50%;
  }
  .classes_img {
    margin: 0 auto;
  }
  .classes_info {
    margin: 0 auto;
    max-width: 300px;
    padding-left: 0;
  }
  .about_classes_icon img {
    max-width: 300px;
    padding-left: 13px;
  }
  .about_classes_icon {
    padding-left: 15px;
  }
  .about_classes_title {
    padding-bottom: 40px;
  }
  .section_teacher_element {
    margin: 0 auto;
    width: 33.33333%;
  }
  .section_exp {
    margin-top: 0;
  }
  .section_logo_items a {
    padding-right: 100px;
  }
  .section_special_logo {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    ms-flex-pack: distribute;
  }
  .footer_up_img {
    padding-right: 90px;
  }
  .footer_center {
    overflow: hidden;
  }
  .footer_down_nav_menu {
    padding: 38px 38px;
  }
}
@media (max-width: 998px) {
  .nav_menu {
    display: none;
  }
  .top_logo {
    padding-left: 30px;
    z-index: 10;
  }
  .mobile_toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 30px;
    top: 33px;
    z-index: 10;
  }
  .mobile_toggle i {
    color: #7492ec;
    display: block;
    font-size: 25px;
    padding-right: 30px;
  }
  #chet_one:checked + nav {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: #36aeea;
    display: block;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  .top_menu_btn {
    display: none;
  }
  .top_menu {
    display: block;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .top_menu a {
    color: #738cd0;
  }
  .section_about_content {
    display: block;
  }
  .about_item {
    min-width: 570px;
    padding-top: 160px;
    text-align: center;
    width: 100%;
  }
  .abaut_text {
    color: #666;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 45px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .about_item_list {
    display: block;
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  .list_content {
    display: block;
  }
  .list_content:last-child {
    padding-bottom: 30px;
  }
  .list_icon {
    padding-bottom: 0;
  }
  .section_about {
    position: relative;
  }
  .section_about_bg {
    bottom: 30px;
    position: absolute;
  }
  .section_trial_down {
    display: block;
  }
  .four_trial {
    display: none;
  }
  .trial_img {
    padding-right: 0;
    width: calc(50% - 5px);
  }
  .section_renewal_content_right_img {
    position: initial;
    top: -50px;
  }
  .section_exp_content {
    padding-bottom: 60px;
  }
  .section_special_teacher {
    margin-bottom: 0;
  }
  .footer_up_text {
    display: none;
  }
  .footer_up_btn a {
    margin-right: 20px;
  }
  .section_logo_items a {
    padding-right: 50px;
  }
  .section_footer_center {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    ms-flex-wrap: wrap;
    text-align: center;
  }
  .footer_center_contact {
    width: calc(50% - 20px);
  }
  .footer_center_links {
    width: calc(50% - 30px);
  }
  .footer_center_hours {
    overflow: auto;
    width: calc(50% - 70px);
  }
  .footer_center_hours_calendar {
    justify-content: center;
    ms-flex-pack: center;
    webkit-box-pack: center;
  }
  .footer_center_location {
    width: calc(50% - 23px);
  }
  .footer_center_location iframe {
    min-height: 250px;
  }
  .section_header_text {
    font-size: 40px;
  }
  .section_header_text:first-child {
    padding-right: 30px;
  }
  .list_text {
    font-size: 22px;
    margin: 0 auto;
    max-width: 70%;
  }
  .section_renewal_content_right_img {
    display: none;
  }
  .section_renewal_content_left {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  .section_renewal_content_left_text {
    margin: 0 auto;
    max-width: 70%;
    padding-right: 0;
  }
  .footer_center_contact_address {
    padding-right: 0;
  }
  .section_exp_text {
    padding: 0 30px;
  }
  .section_exp {
    overflow: hidden;
  }
  .footer_center_contact_title {
    font-size: 20px;
  }
  .footer_center_links_title {
    font-size: 20px;
  }
  .footer_center_hours_title {
    font-size: 20px;
  }
  .footer_center_location_title {
    font-size: 20px;
  }
  .section_footer_down {
    display: block;
    text-align: center;
  }
  .footer_down_title {
    padding: 38px 0 0;
  }
  .footer_down_nav {
    display: flex;
    display: -ms-flexbox;
  }
  .footer_down_nav_menu {
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .section_header_text {
    font-size: 35px;
  }
}
@media (max-width: 778px) {
  .section_header_text {
    font-size: 25px;
  }
  .footer_up {
    overflow: hidden;
  }
  .abaut_text {
    font-size: 18px;
  }
  .list_text {
    font-size: 22px;
  }
  .about_classes_text {
    font-size: 18px;
  }
  .about_classes_icon_text {
    font-size: 16px;
  }
  .section_trial_text {
    font-size: 18px;
  }
  .section_exp_text {
    font-size: 18px;
  }
  .section_exp_subtitle p {
    font-size: 20px;
    padding-top: 30px;
  }
  .footer_center_contact_address,
  .footer_center_contact_email,
  .footer_center_contact_tel {
    font-size: 18px;
  }
  .footer_center_links_text a {
    font-size: 18px;
  }
  .footer_day {
    font-size: 14px;
  }
  .footer_time {
    font-size: 14px;
  }
  .footer_symbol {
    font-size: 14px;
  }
  .section_teacher_prof {
    font-size: 18px;
  }
  .section_teacher_name {
    font-size: 17px;
  }
  .top_menu a {
    font-size: 20px;
  }
  .top_menu {
    padding-left: 0;
  }
  .footer_center_hours_calendar {
    font-size: 16px;
  }
}
@media (max-width: 690px) {
  .section_header_text {
    font-size: 15px;
  }
  .section_header_text:first-child {
    padding-right: 0;
  }
  .footer_up_btn_input {
    padding: 20px 0 20px 5px;
  }
  .footer_center_location {
    padding-left: 0;
    width: 100%;
  }
  .footer_center_hours {
    padding-left: 0;
    width: 100%;
  }
  .footer_day {
    font-size: 18px;
  }
  .footer_time {
    font-size: 18px;
  }
  .footer_symbol {
    font-size: 18px;
  }
  .section_teacher_element {
    width: 50%;
  }
  .section_logo_items a {
    padding-right: 30px;
  }
  .footer_down_nav_menu li:last-child {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .top_menu li {
    padding-right: 0;
  }
  .section_header {
    background-size: cover;
  }
  .about_title {
    padding-top: 60px;
  }
  .about_classes_info_all {
    width: 100%;
  }
  .about_classes_info {
    width: 100%;
  }
  .trial_img {
    width: calc(100% - 5px);
  }
  .section_teacher_element {
    width: 50%;
  }
  .section_logo_items a {
    padding: 10px;
  }
  .section_logo_items a:last-child {
    padding-right: 10px;
  }
  .section_about_bg {
    display: none;
  }
  .about_video {
    width: 80%;
  }
  .section_about {
    display: block;
    overflow: hidden;
  }
  .about_classes_icon {
    margin-bottom: 0;
  }
  .about_classes_text {
    padding-bottom: 20px;
  }
  .section_teacher_element {
    width: calc(50% - 10px);
  }
  .section_header_text {
    font-size: 10px;
  }
  .section_header_text {
    display: none;
  }
  .section_header {
    background-size: contain;
    padding-bottom: 90px;
  }
  .about_item {
    min-width: 0;
    padding-top: 0;
  }
  .about_title {
    font-size: 40px;
  }
  .section_trial {
    padding-top: 60px;
  }
  .footer_up_img {
    padding-right: 10px;
  }
  .footer_up_btn_input {
    margin-right: -39px;
  }
  .footer_up_btn a {
    font-size: 11px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section_logo_items {
    text-align: center;
  }
  .footer_down_nav_menu {
    display: block;
  }
  .footer_down_nav_menu li {
    padding-right: 0;
  }
  .footer_center_hours {
    width: 100%;
  }
  .section_header {
    background-size: cover;
    padding-bottom: 50px;
  }
  .section_exp_content {
    padding-top: 60px;
  }
}
@media (max-width: 460px) {
  .footer_center_contact {
    width: 100%;
  }
  .footer_center_links {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  .footer_center_links_title {
    padding-top: 0;
  }
  .footer_center_hours_day {
    padding-right: 30px;
  }
  .footer_center_hours_symbol {
    padding-right: 30px;
  }
}
@media (max-width: 320px) {
  .section_header {
    padding-bottom: 10px;
  }
  .about_title {
    font-size: 35px;
  }
  .about_classes_title {
    font-size: 35px;
  }
  .section_teacher_element {
    width: 100%;
  }
  .section_logo_items {
    text-align: center;
  }
  .section_logo_items_img {
    padding-bottom: 20px;
    width: 50%;
  }
  .section_logo {
    margin: 0;
  }
  .footer_center_links_text a {
    font-size: 14px;
  }
  .top_logo {
    padding-left: 30px;
  }
  .footer_center_location {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  .mobile_toggle i {
    padding-right: 40px;
  }
}
